$color-secondary: #6c757d;
$color-lightgrey: #d4d4d4;
$body-font: "Open Sans", Helvetica, sans-serif;
$header-font: "Raleway", Arial, sans-serif;
$color-gradient-primary: linear-gradient(to bottom, #415e98 0%, #35507c 100%);
$color-gradient-secondary: linear-gradient(to bottom, #ee463d 0%, #992822 100%);


body {
    font-family: $body-font
}

h1, h2, h3 {
    font-family: $header-font;
}

i:before {
    font-size: 22px;
}
.btn-group-toggle .btn{padding:0;}

.btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle{ color:#007bff;}
.lt_btns .btn:not(:disabled):not(.disabled){color:$color-lightgrey;}
.btn:not(:disabled):not(.disabled).active.problem, .btn:not(:disabled):not(.disabled):active.problem{color: #dc3545;}
.btn:not(:disabled):not(.disabled).active.good, .btn:not(:disabled):not(.disabled):active.good{color: #28a745;}
label, .btn-group-text{font-weight:600; text-transform: capitalize; font-size:.9rem;}


.lt_btns .btn:not(:disabled):not(.disabled).active, .lt_btns .btn:not(:disabled):not(.disabled):active, .lt_btns .show > .btn-light.dropdown-toggle {
    color: #007bff;
}
.text-white .btn:not(:disabled):not(.disabled){color:#FFFFFF;}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    background: #FFFFFF;
    margin: 0 10px;
    color: #6c757d;
    transition: 100ms;
    border-radius: 5px;
    border: 1px solid #6c757d;
}


.nav-link:hover, .nav-link.active{background-color:$color-lightgrey; color:$color-secondary;}
h1.page-title{font-size:1.6rem; padding:10px;}
label{padding-right:10px; font-weight:600;}
form .row, .form-row{margin-bottom:10px;}

.nav-pills{

    .nav-link.active{
            background-color:#28a745;
    }
    .show>.nav-link{
        background-color:#28a745;
    }

        .nav-link.nav-left{
            border-radius:5px 0 0 5px;
        }

        .nav-link.nav-right{
            border-radius:0 5px 5px 0;

        }

        .nav-link {
            background-color: #d4d4d4;
            color: #6c757d;
        }
    
}

.bg-gradient-primary, .btn-gradient-primary{
    background: $color-gradient-primary !important;
    color:#FFFFFF;
}

.bg-gradient-secondary, .btn-gradient-secondary{
    background: $color-gradient-secondary !important;
    color:#FFFFFF;
}


@media (max-width:991px){

    .navbar{
        // justify-content: start;
        padding: .5rem 0rem;}

        .nav-link{
            margin: 0 2px;
        }
}